.DS_Store
cmd.txt
jdt/

/.env
applications/**/*.json
applications/**/*.html
applications/**/*.csv

/applications/demo-spring-boot-todo-app/
/my-rewrite.yml

.idea
*.iml
.vscode
.project
.settings
.classpath
target

/demo/reveal.js/
